{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "quotes": ["warn", "single", { "avoidEscape": true }],
    "semi": ["error", "always"],
    "prefer-const": ["warn"],
    "no-unused-expressions": ["warn", { "allowShortCircuit": true, "allowTernary": true }],
    "no-unused-vars": ["off"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/ban-ts-comment": ["warn"],
    "@typescript-eslint/no-namespace": ["off"],
    "@typescript-eslint/no-empty-function": ["off"],
    "@typescript-eslint/no-empty-interface": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "prefer-rest-params": "warn",
    "eqeqeq": ["error", "always"],
    "no-var": ["error"],
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "arrow-spacing": ["warn"],
    "default-case": [
      "error",
      {
        "commentPattern": "^skip\\sdefault"
      }
    ],
    "no-console": ["error"],
    "no-self-assign": ["off"]
  }
}
