@charset "UTF-8";

#header-content {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	line-height: 20px;
	margin: 9px 0 0 8px!important;
    padding-left: 210px;
    padding-top: 1px;
	font-size: 1.1em;
	white-space: nowrap;
	width: 350px;
}

.doc-contents  > div .x-box-inner > div:first-child
{
    display: none;
}
